<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXddvZotSTfuKjC3Fdktvktj-RilxjIXg</string>
	<key>GCM_SENDER_ID</key>
	<string>1056929212684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smart.lab.meetlocal</string>
	<key>PROJECT_ID</key>
	<string>meetlocal-7bbe7</string>
	<key>STORAGE_BUCKET</key>
	<string>meetlocal-7bbe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056929212684:ios:9d04e07cd4bf986c83c129</string>
	<key>DATABASE_URL</key>
	<string>https://meetlocal-7bbe7-default-rtdb.firebaseio.com</string>
</dict>
</plist>